.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  min-width: 200px;
  height: 60px;
  color: var(--color-white);
  font-size: 14px;
  font-weight: 600;
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius-s);

  @include hover {
    color: var(--color-black);
    background-color: var(--color-white);
  }

  &--light-blue {
    background-color: var(--color-secondary);
  }
}
