.button {
  display: inline-flex;
  align-items: center;
  column-gap: 15px;
  padding: 18px 36px;
  color: var(--color-white);
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  border-radius: var(--border-radius-s);

  @include hover {
    color: var(--color-black);
    background-color: var(--color-white);
  }
}
