.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  min-width: 200px;
  height: 60px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: 2px solid var(--color-dark);
  border-radius: var(--border-radius-s);

  @include hover {
    color: var(--color-dark);
    background-color: var(--color-light);
  }

  &--light-blue {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-dark);
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);

    @include hover {
      color: var(--color-light);
      background-color: var(--color-dark);
    }
  }
}
