.tags {
  &__list {
    display: flex;
    column-gap: 24px;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
  }

  &__label {
    color: var(--color-gray-600);
  }
}
