.hero-card {
  display: grid;
  grid-template-columns: 48.4375% 1fr;

  &__body {
    padding: 50px;
    background-color: var(--color-light-blue);
  }

  &__category {
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    background-color: var(--color-white);
    box-shadow: var(--drop-shadow);
    font-weight: 600;
    font-size: 14px;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__title {
    @include fluid-text(64, 28);

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__description {
    color: var(--color-gray-600);
    line-height: 1.75;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__tags {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 16px;
    }

    &-item {
      display: inline-flex;
      align-items: center;
      column-gap: 10px;
      padding: 8px 16px;
      background-color: var(--color-gray-50);
      border-radius: var(--border-radius);
    }

    &-label {
      color: var(--color-gray-600);
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    margin-top: auto;
  }
}