.hero-card {
  display: grid;
  grid-template-columns: 48.4375% 1fr;
  border-radius: var(--border-radius-m);
  overflow: hidden;

  &__body {
    padding: 50px;
    background-color: var(--color-light-blue);
  }

  &__category {
    display: inline-flex;
    column-gap: 12px;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    background-color: var(--color-white);

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__description {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}