.hero-card {
  display: grid;
  grid-template-columns: 48.4375% 1fr;
  border-radius: var(--border-radius-m);
  overflow: hidden;

  &__body {
    padding: 50px;
    background-color: var(--color-light-blue);
  }

  &__category {
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    background-color: var(--color-white);
    font-weight: 600;
    font-size: 14px;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__description {
    color: var(--color-gray-60);
    line-height: 1.75;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__tags {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__footer {
    margin-top: auto;
  }
}