.category-card {
  position: relative;
  width: 180px;
  height: 152px;
  padding-inline: 40px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  row-gap: 50px;
  border-radius: var(--border-radius);

  &__image {
    position: absolute;
    top: -50px;
  }
}
