.category-card {
  --categoryCardImageOffsetTop: 50px;

  padding-top: var(--categoryCardImageOffsetTop);

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    padding: 0 40px 30px;
    border-radius: var(--border-radius);
  }

  &__image {
    margin-top: calc(-1 * var(--categoryCardImageOffsetTop));
  }
}
