.category-card {
  --categoryCardImageOffsetTop: 50px;

  padding-top: var(--categoryCardImageOffsetTop);

  &__body {
    --categoryCardColorStart: color-mix(
      in srgb,
      var(--categoryCardColor),
      transparent 100%
    );
    --categoryCardColorEnd: color-mix(
      in srgb,
      var(--categoryCardColor),
      transparent 90%
    );

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: fluid(50, 30);
    padding-inline: 40px;
    padding-bottom: 30px;
    background-image: linear-gradient(
      180deg,
      var(--categoryCardColorStart) 0%,
      var(--categoryCardColorEnd) 100%
    );
    border-radius: var(--border-radius);
  }

  &__image-wrapper {
    position: relative;
    margin-top: calc(-1 * var(--categoryCardImageOffsetTop));

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 10px;
      left: 10px;
      width: 100%;
      height: 100%;
      background: var(--categoryCardImage) center/contain no-repeat;
      filter: blur(20px);
    }
  }
}
