.category-card {
  --categoryCardImageOffsetTop: 50px;

  padding-top: var(--categoryCardImageOffsetTop);

  &__body {
    --categoryCardColorStart: color-mix(
        in srgb,
        var(--categoryCardColor),
        transparent 100%
    );
    --categoryCardColorEnd: color-mix(
        in srgb,
        var(--categoryCardColor),
        transparent 90%
    );
    --categoryCardColorImageShadow: color-mix(
        in srgb,
        var(--categoryCardColor),
        transparent 50%
    );

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    padding: 0 40px 30px;
    border-radius: var(--border-radius);
    background-image: linear-gradient(
        180deg,
        var(--categoryCardColorStart) 0%,
        var(--categoryCardColorEnd) 100%);
  }

  &__image {
    margin-top: calc(-1 * var(--categoryCardImageOffsetTop));
    filter: drop-shadow(10px 10px 20px var(--categoryCardColorImageShadow));
  }
}
