.section {
  display: grid;
  row-gap: fluid(80, 40);
  padding-block: var(--section-padding-y);

  &__title {
    @include mobile {
      text-align: center;
    }
  }

  &__description {
    @include mobile {
      text-align: center;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;

    &--with-link {
      flex-direction: row;
      justify-content: space-between;
      column-gap: 16px;

      @include mobile {
        display: contents;
      }
    }
  }

  &__link {
    order: 1;
  }
}
