.hero {
  max-width: 1920px;
  margin-inline: auto;
  padding: var(--section-padding-y) var(--container-padding-x);

  @include tablet {
    padding-block: 20px;
  }

  &__slider-item {
    overflow: hidden;
    max-width: var(--container-width);
    border-radius: var(--border-radius-m);

    @include mobile {
      border-radius: var(--border-radius);
    }
  }
}
