.hero {
  max-width: 1920px;
  margin-inline: auto;
  padding: 50px var(--container-padding-x);

  &__slider-item {
    overflow: hidden;
    max-width: var(--container-width);
    border-radius: var(--border-radius-m);
  }
}
