.hero {
  max-width: 1920px;
  margin-inline: auto;
  padding-block: 50px;

  &__slider-item {
    overflow: hidden;
    max-width: var(--container-width);
    border-radius: var(--border-radius-m);
  }
}
