.field {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: fluid(16, 12);

  &__label {
    font-size: fluid(18, 16);
    font-weight: 700;
    color: var(--color-light);
  }

  &__required-star {
    color: var(--color-accent);
  }

  &__control {
    width: 100%;
    max-width: 300px;
    height: fluid(67, 53);
    padding-inline: fluid(20, 16);
    color: var(--color-light);
    background-color: var(--color-dark);
    border: var(--border-width-m) solid var(--color-light);
    border-radius: var(--border-radius);

    @include laptop {
      border-radius: var(--border-radius-xs);
    }

    @include hover {
      border-color: var(--color-light);
    }

    &:user-invalid {
      border-color: var(--color-accent);
    }

    &:disabled {
      @include disabled;
    }

    &::placeholder {
      color: var(--color-gray);
    }
  }

  textarea.field__control {
    min-height: fluid(163, 109);
    padding-block: fluid(20, 16);
    resize: vertical;
  }
}
