.soc1als {
  &__list {
    display: flex;
    column-gap: 40px;

    @include tablet {
      column-gap: 20px;
    }
  }

  &__item {
    display: flex;
  }

  &__link {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 44px;
      height: 44px;
    }
  }
}