.header {
  padding-block: #{fluid(32, 16)};
  border-bottom: 1px solid var(--color-gray);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;

    @include mobile {
      column-gap: 20px;
    }
  }

  &__menu {
    @include mobile {
      position: fixed;
      z-index: var(--layer-mobile-menu);
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: var(--color-white);
      transition-duration: var(--transition-duration);

      &:not(.is-active) {
        @include hide;
      }
    }

    &-list {
      display: flex;
      align-items: center;
      column-gap: 60px;

      @include tablet {
        column-gap: 30px;
      }

      @include mobile {
        overflow-y: auto;
        flex-direction: column;
        row-gap: 30px;
        padding-block: 30px;
      }
    }

    &__link {
      display: inline-flex;
      align-items: center;
      height: 44px;
    }
  }

  &__soc1als {
    @include mobile {
      margin-left: auto;
    }
  }

  &__burger-button {
    z-index: var(--layer-mobile-menu);
  }
}
