.header {
  padding-block: 40px;
  border-bottom: 1px solid var(--color-gray);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }

  &__menu {
    &-list {
      display: flex;
      align-items: center;
      column-gap: 60px;

      @include tablet {
        column-gap: 30px;
      }
    }

    &__link {
      display: inline-flex;
      align-items: center;
      height: 44px;
    }
  }
}
