.header {
  padding-block: 40px;
  border-bottom: 1px solid var(--color-gray);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }

  &__menu {
    &-list {
      display: flex;
      column-gap: 60px;
    }
  }
}
